	ErrorDocument 500 http://localhost/404.php
	ErrorDocument 400 http://localhost/404.php
	
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ $1.php [NC]

	php_value upload_max_filesize 20M
	php_value post_max_size	20M
	php_value max_input_time 600
	php_value max_execution_time 600	
	php_value memory_limit 20M